@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

a {
  text-decoration: none;
  color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    color: white;
    align-items: center;
    flex: 1;
}

.content {
    display: flex;
    background-color: #1f2937;
    color: white;
    flex: 3;
    padding: 30px 0 60px 0;
}

.left-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
    margin: 30px 50px 30px 300px;
    justify-content: start;
    align-items: start;
}

.content-head {
    font-size: 48px;
    font-weight:900;
    color: #F9FAF8;
}

.home-image {
    height: 250px;
    margin: 30px 300px 30px 0;
    border-radius: 10px;
}

.right-card {
    display: flex;
    flex: 1;
    margin: 30px 300px 30px 0;
    background-color: #56585d;
    color: white;
    align-items: center;
    justify-content: center;
}

.info {
    flex: 3;
    padding: 40px 340px 80px 340px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-head {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    display: flex;
    justify-content: center;
}

.quote {
    display: flex;
    flex-direction: column;
    flex: 3;
    justify-content: center;
    background-color: #E5E7EB;
    color: #1F2937;
    color: black;
    padding: 80px 340px 80px 340px; 
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

.quote-author {
    display: flex;
    font-size: 18px;
    font-weight: bold;
    justify-content: end;
}

.call {
    flex: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 100px;
    margin: 80px;
    background-color: #3882F6;
    gap: 340px;
    border-radius: 5px;
    color: white;
    align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    background-color: #1f2937;
    color: white;
    padding: 40px;
}

.header-logo {
    font-size: 24px;
    padding: 30px 0 30px 300px;
    font-weight: bold;
}

.right-links {
    display: flex;
    padding: 30px 300px 30px 0;
    gap: 20px;
}

.card-panel {
    display: flex;
    justify-content: center;
}

.button-one {
    background-color: #3882F6;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.button-two {
    background-color: #3882F6;
    color: white;
    border-color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.item-container {
    height: 100px;
    width: 100px;
    border-style: solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.item-image {
    height: 150px;
    width: 150px;
    object-fit:cover;
    border-radius: 10px;
}

.item-content {
    padding: 0 20px;
    text-align: center;
    font-weight:lighter;
}

.call-text-one {
    font-weight: 900;
    font-size: 20px;
}

.call-text-two {
    font-weight: 300;
    font-size: 12px;
}